{% extends 'layout.html' %}
{% block content %}
<div class="row col-md-12">
    <div class="col-md-12">
        <h1>markdown blog</h1>
        <hr>
        <p>
            Welcome to markdown blog! Feel free to use this template site for whatever you wish!
        </p>
    </div>
</div>
<div class="row col-md-12">
    <div class="col-md-4">
        <legend>Trending posts</legend>
    </div>
    <div class="col-md-4">
        <legend>Post of the day</legend>
    </div>
    <div class="col-md-4">
        <legend>User of the day</legend>
    </div>
</div>
{% endblock content %}